<h1>Anonymous Quotes:</h1>
<p><%= link_to "Add a Quote", new_article_path %></p>

<table>
  <% @allarticles.each do |article| %>
  <tr>
    <td>"<%= article.quote %>"</td>
    <td><%= link_to "Comment", article_path(article) %></td>
  </tr>
  <% end %>
</table>
